.book-tiles {
  display: flex;
  width: 85vw;
  flex-wrap: wrap;
  margin: auto;
}

.books {
  padding: 1%;
}

.members {
  display: flex;
  width: 50vw;
  height: 30vh;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid blue;
  overflow: scroll;
}

.favorite-teachers {
  display: flex;
  width: 50vw;
  height: 15vh;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid red;
  overflow: scroll;
  margin-top: 2%;
  margin-bottom: 1%;
}
.each-member {
  padding: 2%;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

